{% extends('base.html.twig') %}

{% block body %} 
    <h1>Welcome to my PHP Symfony Blog site</h1>
    {# <p>For viewing the articles please click <a href="{{path('home.custom')}}">here</a></p> #}
{% endblock %}
